.destination__grid{
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.destination__card{
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.destination__details{
    padding: 1rem 1.5rem;   
}

.destination__details > div{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination__details h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
}


.destination__details  {
    h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
    }
    span{
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--text-light);
    }
}

.destination__details p{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: var(--text-light);
}

@media (width > 540px){
    .destination__grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (width > 768px) {
    .destination__grid{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (width > 1024px) {
    .destination__grid{
        gap: 2rem;
    }
}