
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --font-base:'Poppins',serif;
    --font-alt: 'Open Sans', sans-serif;
    --font-hand:'Indie Flower',cursive;

    --primary-color:#e06951;
    --text-dark: #111827;
    --text-light: #6b7280;

    --white:#ffffff;

    --extra-light: #fafafa;
    --max-width:1200px;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-base);
    background-image: url('assets/header-bg.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

img {
    width: 100%;
    display: flex;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
}
